/*Resetando os valores para 0 e deixando padrão*/
*{
    margin: 1;
}

/* Estilizando a nav */    
.menu{
    width:100%;
	height:50px;
	background-color: #222;
}

/* Estilizando as listas */
.menu>ul{
    list-style:none;	
	position:relative;
	margin-left:30px;
    z-index: 2;
}

/* Estilizando cada item */    
.menu ul li{
    width:150px;
    float:left;    
}

/* Estilizando os links */
.menu a{
	padding:19px;
	display:block;
	text-decoration: none;
	font-family: 'Press Start 2P', cursive;
	font-size: 12px;
	color:#ffd700;
	background-color: #222;
	text-align:center;
    text-transform: uppercase;
}

/*Sumindo com os sub-itens*/
.menu ul ul{
    list-style:none;
	position:absolute;
	visibility:hidden;
	
}

/*Ao passar o mouse os sub-itens aparecem*/
.menu ul li:hover ul{
    visibility:visible;
}

/*Alterando a cor do fundo do item no momento do hover*/    
.menu a:hover{
    background-color:#0077B5;
	}
    
    /*Deixando os itens um abaixo do outro, no momento do hover*/
    .menu ul ul li{
        float:none;
        border-bottom: solid 1px #ccc;
	}
    
/*Alterando a cor dos sub-itens*/    
.menu ul ul li a{
	background-color:#0077B5;
}

/*Deixando o checkbox e simbolo de menu oculto*/
#bt_menu{
    display: none;
	}
    
    /*Estilizando o botão menu*/    
label[for='bt_menu']{
    padding:5px;
    background-color:#222;
	color:#fff;
	font-family:'Press Start 2P', cursive;;
	text-align:center;
	font-size:30px;
	cursor:pointer;
	display:none;
	width:50px;
	height:50px;
}

label[for='bt_menu']:hover{
    background-color:#f4f4f4;
	color:#0077B5;
}

@media (max-width: 800px) {
    .menu{
        margin-left:-100%;
        transition:all .4s;
        }
        
        label[for='bt_menu']{
            display:block;
        }

    .menu>ul{
        margin-left:0;
    }

    .menu{
        margin-top:5px;
        }
        
    /*Alterando o direcionamento do itens do menu*/    
    .menu ul li{
        width:100%;
        float:none;
    }
    
    .menu ul ul{
        position:absolute;
        overflow:hidden;
        max-height:0;
        transition:all .4s;
    }
    
    /*Ao passar o mouse os subitens aparecem*/    
    .menu ul li:hover ul{
        height:auto;
        max-height:200px;
        transition:all .4s;
    }
    
    #bt_menu:checked ~ .menu{
        margin-left:0;
    }
}

.header-container{
    height: 50vh;
    width: 99vw -1;
    font-family: 'Press Start 2P', cursive;
    background-color: #ffdd4c;
    background-image: url('/img/atqjunior.png');
    background-repeat: no-repeat;
    background-position-x: 155vh;
    background-position-y: 25px;
    background-size: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
    z-index: 1;
}

.text-cabecalho{
    height: 30px;
    width: 600px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 5px;
}

#text-job{
    font-size: 12px;
    letter-spacing: 4px;
}

.social-media{
    margin: 3px;
    display: flex;
    margin-top: 1rem;
}

.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffdd4c;
    background-image: url('/img/moeda.png');
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    filter:grayscale(0.5);
    color:#1E1E1E;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.card-text{
    width: 40%;
    letter-spacing: 1px;
    color: #222
}

.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #fff;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin: 0;
    transition: 0.5s ease-in-out;;
}

.card-wrapper p {
    font-size: 0px;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;;
}

.card:hover{
    filter: unset;
}

.card:hover > .card-wrapper::before {
    height: 200px;
    width: 200px;
    opacity: 1;
}

.card:hover > .card-wrapper p{
    opacity: 1;
    visibility: visible;
    font-size: 15px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #ffdd4c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222
}
