body{
  background-color:#000000;
  font-family:sans-serif;
  color:#013862;
}

section{
  -webkit-box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59);
  box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59);
  display: block;
  margin-left:auto;
  margin-right:auto;
  max-width: 500px;
  margin-top:100px;
  background-color:white;
  padding:15px;
  border:1px solid black;
  border-radius:5px;
}

section h1{
  text-align:center;
  font-size:23px;  
  font-weight:bolder;
}

header{
  background-image: url("https://www.publicdomainpictures.net/pictures/210000/velka/outer-space-1485956786EG0.jpg");
  background-size: cover;
  height:80px;
  border-radius:5px;
}

div{
  text-align:center;
  padding:15px;
  background-color:#B7C1E2;
  border-radius:5px;
  color:#013862;
}

li{
  text-align:justify;
  color:#013862;
  font-family:sans-serif;
}

img{
  width:150px;
  height: 150px;
  border: 8px solid white;
  border-radius:100%;
  margin-left:auto;
  margin-right:auto;
  display:block;
  transform: translateY(-50%);
}